.active {
  color: #a0a0a0; }

h4 {
  color: #a0a0a0; }

.navbar {
  background-color: #fff45e; }

.nav-item a:hover {
  transform: scale(1.1); }

.nav-item .dropdown .menu {
  background-color: #fdff83; }
